<section class="panel {{ modifier_class }}">
  <h3 class="panel__heading">Solutions</h3>
  <div class="panel__contents">
    <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
  </div>
  <button class="button button--secondary button--small">Solutions</button>
</section>
