<div class="accordion">
  <section class="accordion__item {{ modifier_class }}">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle">Our approach</a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
  <section class="accordion__item">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle">Drupal strategy</a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
  <section class="accordion__item">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle">Styleguide driven development</a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
</div>
