<div class="accordion js-accordion">
  <section class="accordion__item js-accordion-item {{ modifier_class }}">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle js-toggle" aria-expanded="{{ modifier_class == 'is-expanded' ? 'true' : 'false' }}">
        Our approach
        <i>
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="currentColor" points="6 7.4 0.6 2 2 0.6 6 4.6 10 0.6 11.4 2" />
          </svg>
        </i>
      </a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
  <section class="accordion__item js-accordion-item">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle js-toggle">
        Drupal strategy
        <i>
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="currentColor" points="6 7.4 0.6 2 2 0.6 6 4.6 10 0.6 11.4 2" />
          </svg>
        </i>
      </a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
  <section class="accordion__item js-accordion-item">
    <h3 class="accordion__header">
      <a href="javascript:void(0)" class="accordion__toggle js-toggle">
        Styleguide driven development
        <i>
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="currentColor" points="6 7.4 0.6 2 2 0.6 6 4.6 10 0.6 11.4 2" />
          </svg>
        </i>
      </a>
    </h3>
    <div class="accordion__contents">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
    </div>
  </section>
</div>
